*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
body .content{
    background-image: url('p-pics/h_img.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}
body .text{
    color: white;
}
.text-1, .text-2{
    font-size: 50px;
}
.about{
    padding: 25px;
    margin: 70px;
    line-height: 2;
    text-align: center;
}
.mouse-click{
    padding-top: 2px;
}
.d-logo{
    padding: 55px;
}
.services{
    background-image: url('p-pics/s_image.jpg');
    background-size: cover;
    width: 190vh;
    color: white;
    padding: 25px;
    line-height: 2;
    text-align: center;
}
.icon-1, .icon-2,.icon-3{
    flex: 40%;
    padding: 30px;
}
.icons{
    display: flex;
    align-content: center;
    cursor: pointer;
    text-align: center;
}
.section-3{
    text-align: center;
    line-height: 2;
}
.images{
    text-align: center;
}